*
.title
{
	letter-spacing: 2px;

}
.massage
{
	margin-top: 20px;
	text-decoration: 1px underline overline;
}


.row
{
	display: flex;
	margin-bottom: 50px;
	margin-top: 50px;
}
.info p
{
	margin-right: 50px;
	
}
.info
{
	flex: 50%;
}


.container .btn 
{
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
}
.container .btn:hover 
{
  background-color: black;
}
.button a:hover
{
	color: #000;
}